.vscode
.idea
.vs
BigfishTools/BigFishTools.msi
BigfishTools/setup.exe
src/boqtakeoff/bin/
src/boqtakeoff/obj/
src/boqtakeoff.core/bin/
src/boqtakeoff.core/obj/
src/boqtakeoff.res/bin/
src/boqtakeoff.res/obj/
src/boqtakeoff.ui/bin/
src/boqtakeoff.ui/obj/
src/boqtakeoff.installer/bin/
src/boqtakeoff.installer/obj/
src/tester/bin/
src/tester/obj/
packages/
